/* Styles for flags */
.flags {
    text-align: center;
    margin: 10px 0;
}

.flags img {
    width: 50px; /* Adjust size */
    height: auto;
    margin: 5px;
}

/* Style for the introduction text */
p {
    font-style: italic;
    color: #333;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}
.accordion-btn {
    width: 100%;
    background-color: #4CAF50; /* Verde bonito */
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}

.accordion-btn:hover {
    background-color: #45a049;
}

.accordion-content {
    display: none;
    .green-bar {
    background-color: green;
    height: 20px; /* Ajusta según lo que tenías */
    width: 100%;
}

    padding: 10px;
    background-color: #f1f1f1;
    border-left: 3px solid #4CAF50;
}
/* Styles for flags */
.flags {
    text-align: center;
    margin: 10px 0;
}

.flags img {
    width: 50px; /* Adjust size */
    height: auto;
    margin: 5px;
}

/* Style for the introduction text */
p {
    font-style: italic;
    color: #333;
    text-align: center;
    max-width: 600px;
    margin: 20px auto;
}
.accordion-btn {
    width: 100%;
    background-color: #4CAF50; /* Verde bonito */
    color: white;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
}

.accordion-btn:hover {
    background-color: #45a049;
}

.accordion-content {
    display: none;
    .green-bar {
    background-color: green;
    height: 20px; /* Ajusta según lo que tenías */
    width: 100%;
}

    padding: 10px;
    background-color: #f1f1f1;
    border-left: 3px solid #4CAF50;
}
